*, body, section, article, p {
    font-family: sans-serif !important;
}

small {
    color: #333;
}

small > strong {
    color: black;
}

section {
    margin: 10px;
    padding: 10px;
    background: #eee;
}

#answers-section article {
    margin: 10px;
    border: solid 1px;
    padding: 10px
}

#question-section .question-article {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 16px 0;
}