@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
* {
  font-family: sans-serif;
}

body {
  /* overflow: hidden; */
}

small {
  color: #333;
}

small > strong {
  color: black;
}

#question {
  margin: 20px;
}

#answers article {
  margin: 10px;
}

#redirection-pasfeur {
  margin: 20px;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

#redirection-pasfeur :is(h1, h2, h3, h4, h5, h6) {
  font-family: "Eater", cursive;
}

#redirection-feur {
  margin: 20px;
  padding: 10px;
  background-color: rgb(253, 197, 255);
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

#redirection-feur :is(h1, h2, h3, h4, h5, h6) {
  font-family: "Hachi Maru Pop", cursive;
}

#redirection-pasfeur > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#redirection-pasfeur > div > p{
    text-align: left;
    font-family: "Eater", cursive;
}

#map {
  height: 400px;
  width: 75%;
  margin: 0 auto;
}
